<!DOCTYPE HTML>
<html>
  <head>
    <title> barstool by reelyActive </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="style/main.css"/>
    <script type="text/javascript" src="js/socket.js"></script>
    <script type="text/javascript" src="js/state.js"></script>
  </head>
  <body ng-app="state">
    <header>reelyActive barstool</header>
    <div ng-controller="InteractionCtrl">
      <tabset justified="true">
        <tab heading="Transmitter">
          <div ng-controller="ChartCtrl">
            <div collapse="isTransmitterSettingsCollapsed">
              <div class="well well-lg">
                <form class="apiUrl">
                  API Root:
                  <input type="text" ng-model="apiRoot" style="width:30%" class="form-control"/>
                  Transmitter ID:
                  <input type="text" ng-model="transmitterId" style="width:30%"  class="form-control"/>
                  From Min rssi of: 
                  <input type="text" ng-model="minRSSI" style="width:30%" class="form-control"/>
                  to Max rssi of:
                  <input type="text" ng-model="maxRSSI" style="width:30%" class="form-control"/>
                  Max number of samples:
                  <input type="text" ng-model="maxNumberOfSamples" style="width:30%"  class="form-control"/>
                  <button ng-click="updateFromUser()" class="btn btn-primary">Update Settings</button>
                </form>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="isTransmitterSettingsCollapsed = !isTransmitterSettingsCollapsed">Show/Hide Settings</button>
            <h1>RSSI in Time</h1>
            <p> Tracking {{transmitterId}} with the following receivers:</p>
            <ul>
              <li data-ng-repeat="x in receivers">
                <button style ="background-color:{{x.color}}" class="btn btn"  ng-click="x.isDisplayed = !x.isDisplayed">
                  {{ x.receiverId }}_{{x.latest}}_ {{x.isDisplayed? 'show':'hide' }}
                </button>
              </li>
              <button ng-click="isDiscovering = !isDiscovering" class="btn btn-primary" >
                Discover Receivers {{isDiscovering? 'on' : 'off'}}
              </button>
              <button ng-click="isPaused = !isPaused" class="btn btn-primary">
                Pause {{isPaused? 'on' : 'off'}}
              </button>
            </ul>
            <div style="padding:30px" linear-chart chart-data="rssiSamples" update-chart="updateChart"></div>
          </div>
        </tab>
        <tab heading="Receiver">
          <div ng-controller="BarCtrl">
            <div collapse="isReceiverSettingsCollapsed">
              <div class="well well-lg">
                <form class="apiUrl">
                  API Root:
                  <input type="text" ng-model="apiRoot" style="width:30%" class="form-control"/>
                  Receiver ID:
                  <input type="text" ng-model="receiverId" style="width:30%"  class="form-control"/>
                  Samples to average:
                  <input type="text" ng-model="maxNumberOfSamplesAccessible" style="width:30%"  class="form-control"/>
                  <button ng-click="updateFromUser()" class="btn btn-primary">Update</button>
                  <p>
                    <button ng-click="isPaused = !isPaused" class="btn btn-primary">
                      Pause {{isPaused? 'on' : 'off'}}
                    </button>
                    <button ng-click="isDiscovering = !isDiscovering" class="btn btn-primary">
                      Discover Receivers {{isDiscovering? 'on' : 'off'}}
                    </button>
                  </p>
                </form>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="isReceiverSettingsCollapsed = !isReceiverSettingsCollapsed">Show/Hide Settings</button>
            <h1>RSSI in Time</h1>
            <p> Listening on {{receiverId}} </p>
            <div style="padding:30px" bar-chart chart-data= "displayData" update-chart="updateChart"></div>
          </div>
        </tab>
        <tab heading="Event">
          <div ng-controller="SocketCtrl" >
            <form class="apiUrl">
              Socket URL:
              <input type="text" ng-model="socket.url" style="width:30%"  class="form-control" readonly/>
            </form>
            <div ng-repeat="(id, event) in events">
              <div>
                <pre> {{id}}: {{event}} </pre>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    <footer id="footer">
      <a href="https://github.com/reelyactive/barstool"> barstool </a>
      &nbsp; | &nbsp;
      <a href="http://context.reelyactive.com"> &copy; reelyActive 2015 </a>
    </footer>
  </body>
</html>
