body {
 font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  font-size: 2.5em;
}

#footer {
  clear: both;
  position: relative;
  height: 5em;
  line-height: 5em;
  margin: 0;
  background: #4997bd;
  color: #999;
  color: rgba(255,255,255,0.5);
  font-size: 1.2em;
  overflow: hidden;
  text-align: center;
}

  #footer a {
    color: #999;
    color: rgba(255,255,255,0.5);
  }

  #footer a:hover {
    color: rgba(255,255,255,0.7);
  }
